body {
  position: relative;
}

/* SECTION PADDINGS */
#about, #contact, #work, #skills  {
  padding-top:50px;
}

.center {
  text-align: center;
}

.text-center {
  color: white;
}

/* NAVBAR */
#homeLink {
  color: white;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
}

.navbar-custom .navbar-nav > .active > a {
  color: white;
  padding-bottom: 10px;
  border-bottom: 6px #22A7F0 solid;
}

.navbar-custom .navbar-nav > li > a:hover {
  color: white;
}
.navbar-custom .navbar-nav > li > a {
  color: #888888;
}

.navbar{
  background-color: #22313f;
  -webkit-box-shadow: 0px 0px 8px 2px #000000;
   -moz-box-shadow: 0px 0px 8px 2px #000000;
        box-shadow: 0px 0px 8px 2px #000000;
}

/* ABOUT */
img {
  width: 100%;
}

#about {
  margin-top: 30px;
}

#pictureOfMe {
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border-radius: 50%;
}

#colorBlue {
  color: #22A7F0;
}

/* SKILLS */
.skillsRowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.iconImgAndText {
  display: relative;
  position: relative;
}
.iconImgAndText:hover .icons{
  opacity: 0;
}
.iconImgAndText:hover .iconText{
    display: block;
}
.iconText{
  position:absolute;
  display:none;
  top: 45px;
  left: 25px;
  font-weight: bold;
  font-size: 22px;
}

.icons {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.iconRow {
  display: flex;
  justify-content: center;
}

#htmlIcon {
  height: 90px;
  margin-top: 25px;
}

#angularIcon {
  height: 120px;
  margin-top: 10px;
}

/* WORK */
#work {
  background-color: #ececec;
}
#workTitle {
  color: white;
  display: inline-block;;
  border-bottom: 4px white solid;
  padding: 20px 40px;
  font-size: 24px;
}
.thumbTitle {
  background-color: white;
}
.page-header, .titlep {
  color: #22313f;
}

#workTitleDiv {
  text-align: center;
}

.hovereffect {
  margin-bottom: 50px;
}

.githubButton{
  text-align: center;
  height: 75px;
  width: 75px;
}

.jumpButton{
  text-align: center;
  height: 70px;
  width: 70px;
}

.githubButton:hover {
  opacity: .5;
}
.jumpButton:hover {
  opacity: .5;
}

/* CONTACT */
#contactHeader {
  text-align: center;
  color: gray;
}

#contactSubHeader {
  text-align: center;
  color: gray;
}

/* FOOTER */
footer {
  background-color: #22313f;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footerText {
  color: white;
  /*font-weight: bold;*/
  font-size: 26px;
}

/* MEDIA QUERIES*/
@media only screen and (min-width : 886px) {
  #aboutText {
    padding-top: 8%;
  }
}
@media only screen and (max-width : 885px) {
  #aboutText {
    padding-top: 5%;
  }
}

@media only screen and (min-width : 769px) {

}

@media only screen and (max-width : 685px) {
  .hovereffect {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width : 685px) {
  #aboutText {
    padding-top: 0;
  }
  #pictureOfMe {
    margin-top: 0px;
  }
}

@media only screen and (max-width : 555px) {
  .icons {
    margin: 5px;
    width: 75px;
    height: 75px;
  }
  #htmlIcon {
    height: 90px;
    margin-top: 10px;
  }
}
