#head {
  width: 100%;
  background-color: gray;
  /*background: url(../img/desk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

/*   NAV  */
.nav-left {
  padding-top: 50px;
  padding-left: 40px;
  position: absolute;
}
#nav-mainlink {
  color: white;
  font-size: 22px;
}

#nav-mainlink:hover {
  text-decoration: none;
  font-weight: bold;
}

.nav-right{
  padding-top: 50px;
}
.nav-sublinks {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  font-size: 22px;
}
.nav-sublinks:hover {
  color: white;
  text-decoration: none;
}

li {
  float: right;
  margin-right: 25px;
}

@media only screen and (max-width : 685px) {
  .nav-left {
    padding-left: 0;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: space-around;
  }
  #nav-mainlink {
    text-align: center;
  }
  li {
    float: none;
    margin: none;
    padding: none;
  }
  .nav-right-ul {
    display: flex;
    justify-content: space-between;
  }

  .nav-right{
    padding-top: 20px;
  }
}
@media only screen and (max-width : 515px) {
  .nav-sublinks {
    font-size: 16px;
  }
}

@media only screen and (max-width : 515px) {
  .nav-sublinks {
    font-size: 12px;
  }
}


@media only screen and (max-width : 350px) {
  .nav-sublinks {
    font-size: 8px;
  }
}
